__pycache__/db.sqlite3*.pyc/migrations.ideaclient_secret.jsongoogle_sheets_api_key# Elastic Beanstalk Files.elasticbeanstalk/*!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.yml